
{{testEmitValue}}
<form [formGroup]="htmlForm">
    <div>
        <h1>Edit grid</h1>
        <ngx-monaco-editor [options]="{theme: 'grid', language: 'html'}" formControlName="gridCode">
        </ngx-monaco-editor>
    </div>
    <div>
        <h1>Edit tile</h1>
        <ngx-monaco-editor [options]="{theme: 'tiles', language: 'html'}" formControlName="tileCode">
        </ngx-monaco-editor>
    </div>
</form>
<button (click)="save()">Save</button>
<hr>
<h1>Results</h1>
<div *ngIf="htmlForm">
    <ng-template #grid></ng-template>
</div>
